#root,
html,
body {
  background-color: var(--calcite-ui-foreground-2);
  height: 100%;
  margin: 0;
}
.content-panel {
  --calcite-panel-corner-radius: var(--calcite-corner-radius-sm);
  --calcite-panel-shadow: var(--calcite-shadow-md);
  width: 20rem;
}

.layers-panel {
  --calcite-list-background-color: transparent;
  --calcite-block-background-color: transparent;
  --calcite-color-background: color-mix(
    in srgb,
    var(--calcite-color-surface-1) 70%,
    transparent
  );
  --calcite-color-foreground-1: color-mix(
    in srgb,
    var(--calcite-color-surface-1) 70%,
    transparent
  );
}

calcite-shell-panel {
  --calcite-shell-panel-min-height: 60px;
  --calcite-shell-panel-height: auto;
}

.layers-panel--small-screen {
  width: 100%;
  --calcite-color-foreground-1: var(--calcite-color-surface-1);
  --calcite-color-background: var(--calcite-color-surface-1);
}
.layers-panel calcite-block {
  margin: 0;
  border: none;
}

.layers-panel__swatch {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 9999px;
  border: 1px solid;
  background-color: var(--layer-panel-swatch-background-color);
  border-color: var(--layer-panel-swatch-border-color);
}

.layers-panel__graphic {
  position: relative;
  width: 1.375rem;
  height: 1.375rem;
  scale: 1.5;
  margin-top: -1.75rem;
  padding-top: 1.375rem;
  transform: translateY(-2px);
}

.layers-panel__graphic.graphic-selected {
  position: relative;
  width: 1.375rem;
  height: 1.375rem;
  scale: 1.5;
  filter: drop-shadow(0 0 1.5px rgb(30 30 30 / 0.6));
  margin-top: -1.75rem;
  padding-top: 1.375rem;
  transform: translateY(-2px);
}

calcite-panel[slot='footer'] calcite-notice {
  width: calc(100% - 2rem);
  margin: 1rem;
}

calcite-meter {
  width: 10rem;
}

calcite-tile {
  margin: 0.5rem;
  width: 12rem;
  --calcite-tile-corner-radius: var(--calcite-corner-radius-sm);
  --calcite-tile-background-color: color-mix(
    in srgb,
    var(--calcite-color-surface-1) 95%,
    transparent
  );
}

.panel-morel {
  border-block-start: 1px solid var(--calcite-color-border-2);
}

.metric {
  font-size: 1rem;
  font-weight: bold;
}

.popup-content {
  /** constrain height of arcgis-features to container */
  display: flex;
  max-height: 100%;
}

.elevation-profile-panel {
  display: block;
  width: 100%;
  height: 100%;
}
